<header>
    <div class="topHeader">
        <div class="burgerMenu">
            <span class="material-symbols-outlined">menu</span>
        </div>
        <form class="form" action="/products/search" method="GET">
            <input class="input" name="keyword" placeholder="Buscar">
            <button class="submit"><span class="material-symbols-outlined">search</span></button>
        </form>
        <figure class="logo">
            <a href="/"><img src="/images/LOGO_color.png" alt="logo_ARRAYCES"></a>
        </figure>
        <div class="shoppingBag">
            <a href="/users/cart"><span class="material-symbols-outlined">shopping_bag</span></a>
        </div>
    </div>
    <nav class="totalNav">
        <ul class="navSite">
            <li><a href="/">Home</a></li>
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="/products/allProducts">Productos</a></li>
            <li><a href="#">Tips y cuidados</a></li>
            <li><a href="#">Envíos</a></li>
            <% if (locals.isLogged) { %>
                <li><a href="/products/create">Crear producto</a></li>
            <% } %> 
        </ul>
        <ul class="navLogin">
            <% if (locals.isLogged) { %>
                <li><a href="/users/profile"> Perfil </a></li>
                <li><a href="/users/logout"> Cerrar Sesión </a></li>
            <% } else { %> 
                <li><a href="/users/register">Crear cuenta</a></li>
                <li><a href="/users/login">Iniciar sesión</a></li>
            <% } %> 
        </ul>
    </nav>

    <nav class="burgerNav">
        <ul class="burgerNavI">
            <li><form class="bugerForm" action="/products/search" method="GET">
                <input class="burgerInput" name="keyword" placeholder="Buscar">
                <button class="burgerSubmit"><span class="material-symbols-outlined">search</span></button>
            </form></li>
            <li><a href="/">Home</a></li>
            <li><a href="">Quiénes somos</a></li>
            <li><a href="/products/allProducts">Productos</a></li>
            <li><a href="">Tips y cuidados</a></li>
            <li><a href="">Envíos</a></li>
            <div class="burgerLine"></div>
            <% if (locals.isLogged) { %>
                <li><a href="/users/profile"> Perfil </a></li>
                <li><a href="/users/logout"> Cerrar Sesión </a></li>
            <% } else { %> 
                <li><a href="/users/register">Crear cuenta</a></li>
                <li><a href="/users/login">Iniciar sesión</a></li>
            <% } %>   
        </ul>
    </nav>
</header>